<!DOCTYPE html>
<!-- index.ejs
    Copyright © 2024 Joel A Mussman and NextStep IT Training powered by Smallrock. All rights reserved.

-->

<html>
<head>
    <%- include('../components/head'); %>
</head>
<body>
        <%- include('../components/header'); %>

        <div class="main">
            <nav>
                <%- include('../components/navigation'); %>
            </nav>

            <div class="content">
    
                <h1>Welcome to the Pyrates of the Caribbean!</h1>
                <p class="welcome">
                    Here you can earn rewards for the treasure you report!
                    And, you can see how you stack up against the competition.
                </p>
                <p class="welcome">If you already have an account then come on board, you know how.
                    <img src="/favicon.ico" /></p>
                <p class="welcome">If you want to join us, use the sign-up link to make a new account for our website.
                    Or, click the sign-on link and pick your favorite social media account to register and sign-on in one step!</p>
            </div>
        </div>    

        <%- include('../components/footer'); %>
</body>
</html>