<!-- navigation.ejs
    Copyright © 2024 Joel A Mussman and NextStep IT Training powered by Smallrock. All rights reserved.

-->

<div class="navigation">
    <a href="/" class="navigation">Pyrate Identity</a><br>
</div>