<!-- header.ejs
    Copyright © 2024 Joel A Mussman and NextStep IT Training powered by Smallrock. All rights reserved.

-->

<div class="header">
    <div class="banner">Pyrates of the Caribbean!</div>
    <img alt="Pyrates!" src="/assets/images/jolly-roger-black-square.png" class="pyrates" />
</div>