<!-- head.ejs
    Copyright © 2024 NextStep IT Training. All rights reerved.

-->

<meta charset="UTF-8">
<title>Pyrates</title>

<link rel="stylesheet" type="text/css" href="/assets/style/main.css" />