<!-- footer.ejs
    Copyright © 2024 Joel A Mussman and NextStep IT Training powered by Smallrock. All rights reserved.

-->

<div class="footer">
    <span class="footer">Copyright &copy; 1674-1692 Pyrates of the Caribbean. All rights reserved.</span>
</div>