<!-- footer.ejs
    Copyright © 2024 NextStep IT Training. All rights reerved.

-->

<div class="footer">
    <span class="footer">Copyright &copy; 1674-1692 Pyrates of the Caribbean. All rights reserved.</span>
</div>